@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: "Vaqueiro";
    src: url("Fotos/Marfanco.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Procurado";
    src: url("Fotos/PLAYBILL.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow: hidden;
}

.site {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.site::-webkit-scrollbar {
    display: none;
}

.secao {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Header */

@keyframes fadeSlideBaixo {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideCima {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideDireita {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideEsquerda {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header .selecao {
    width: 50vw;
    height: 10vh;
    position: fixed;
    z-index: 999;
}

header .selecao ul {
    margin: 30px 0px 0px 50px;
    float: left;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

header .selecao ul li {
    list-style: none;
    opacity: 0;
    animation: fadeSlideBaixo 1.2s ease forwards;
}

header .selecao ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transition: width 0.3s ease;
}

header .selecao ul li:hover:after{
    width: 50%;
}

header .selecao ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header .selecao ul li:nth-child(1) {
    animation-delay: 0s;
}

header .selecao ul li:nth-child(2) {
    animation-delay: 0.15s;
}

header .selecao ul li:nth-child(3) {
    animation-delay: 0.3s;
}

header .selecao ul li:nth-child(4) {
    animation-delay: 0.45s;
}

header .selecao ul li:nth-child(5) {
    animation-delay: 0.6s;
}

header .selecao ul li:nth-child(6) {
    animation-delay: 0.75s;
}

header .selecao ul li:nth-child(7) {
    animation-delay: 0.9s;
}



header .logo {
    top: 5px;
    right: 50px;
    float: right;
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    opacity: 0;
    animation: fadeSlideEsquerda 1.6s ease forwards;
    animation-delay: 0.6s;
    z-index: 1;
}

header .logo img {
    width: 80px;
}

/* Home */

.home .fundo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home .fundo img {
    min-height: 100vh;
    width: 100%;
}

.home .nome {
    position: absolute;
    bottom: 4.6%;
    right: 1%;
}

.home .nome img {
    width: 500px;
}

/* Agenda */

@keyframes abrir-esquerda {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(-90deg);
    }
}

@keyframes abrir-direita {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

@keyframes fechar-esquerda {
    0% {
        transform: rotateY(-90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes fechar-direita {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.agenda .fundo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.agenda .fundo img {
    min-height: 100vh;
    width: 100%;
}

.agenda .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.agenda .shows {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    gap: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 65%;
}

.agenda .show {
    background-color: rgba(133, 121, 95, 0.8);
    width: 350px;
    border-radius: 10px;
    perspective: 1000px;
    margin: 0 auto;
}


.agenda .show>* {
    color: #fff;
    position: relative;
    padding: 5px;
    z-index: 1;
    display: flex;
}

.agenda .show i {
    margin: 0px 15px 0px 10px;
    color: white;
}

.agenda .shows::before,
.agenda .shows::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: url("Fotos/Porta.png") no-repeat center;
    background-size: 200% 100%;
    z-index: 2;
}

.agenda .shows::before {
    left: 0;
    background-position: left;
    transform-origin: left;
}

.agenda .shows::after {
    right: 0;
    background-position: right;
    transform-origin: right;
}

.agenda .shows:hover::before {
    animation: abrir-esquerda 1s forwards;
}

.agenda .shows:hover::after {
    animation: abrir-direita 1s forwards;
}

.agenda .shows:not(:hover)::before {
    animation: fechar-esquerda 1s forwards;
}

.agenda .shows:not(:hover)::after {
    animation: fechar-direita 1s forwards;
}

/* Discografia */

.discografia .fundo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.discografia .fundo img {
    min-height: 100vh;
    width: 100%;
}

.discografia .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.discografia .panfleto {
    display: flex;
    position: absolute;
    z-index: 1;
}

@media (min-height:1000px) {
    .discografia .panfleto:nth-child(3) {
        top: 13%;
        left: 3.1%;
    }

    .discografia .panfleto:nth-child(4) {
        bottom: 14.3%;
        left: 22.4%;
    }

    .discografia .panfleto:nth-child(5) {
        top: 18.5%;
        left: 39%;
    }

    .discografia .panfleto:nth-child(6) {
        bottom: 7.4%;
        right: 22.4%;
    }

    .discografia .panfleto:nth-child(7) {
        top: 7%;
        right: 9.3%;
    }
}

@media (max-height: 1000px) {
    .discografia .panfleto:nth-child(3) {
        top: 13%;
        left: 3.1%;
    }

    .discografia .panfleto:nth-child(4) {
        bottom: 6.3%;
        left: 22.4%;
    }

    .discografia .panfleto:nth-child(5) {
        top: 18.5%;
        left: 39%;
    }

    .discografia .panfleto:nth-child(6) {
        bottom: 0.2%;
        right: 22.4%;
    }

    .discografia .panfleto:nth-child(7) {
        top: 7%;
        right: 9.3%;
    }
}

.discografia .panfleto img {
    width: 300px;
}

.panfleto .album {
    position: inherit;
    margin: 95px 45px 0px 55px;
    z-index: 2;
}

.panfleto .album img {
    width: 200px;
    opacity: 85%;
    border: solid 3px black;
}

.panfleto .album figcaption {
    font-family: "Procurado", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    font-size: 35px;
    color: #423129;
    opacity: 80%;
}

/* Letra Múscias */

.letras .fundo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.letras .fundo img {
    min-height: 100vh;
    width: 100%;
}

.letras .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.letras .album {
    position: absolute;
    top: 27%;
    left: 50%;
    z-index: 1;
}

.letras .album .capa {
    display: flex;
    justify-content: center;
    margin: 20px 0px 60px 0px;
}

.letras .album .capa img{
    width: 300px;
    border-radius: 15px;
    filter: drop-shadow(15px 15px 12px rgba(0,0,0,0.7));
}

.letras .album h2 {
    display: flex;
    justify-content: center;
    font-family: "Procurado", sans-serif;
    font-size: 50px;
    color: #423129;
    opacity: 70%;
    filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.3));
}

.letras .album audio {
    width: 380px;
    filter: drop-shadow(15px 15px 12px rgba(0,0,0,0.7));
}

.letras .letra {
    height: 600px;
    width: 400px;
    top: 21%;
    left: 75%;
    border-radius: 15px;
    position: absolute;
    overflow: scroll;
    opacity: 80%;
    background-color: rgb(129, 56, 56);
    filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.7));
}   

.letras .letra p{
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

.letras .letra::-webkit-scrollbar {
  display: none;
}

/* Biografia */

.biografia .fundo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.biografia .fundo img {
    min-height: 100vh;
    width: 100%;
}

.biografia .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.biografia .timeline .acontecimentos {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    opacity: 85%;
}

.biografia .timeline .acontecimentos:hover {
    z-index: 2;
}

@media (min-height:1000px) {
    .biografia .timeline .acontecimentos:nth-child(1){
        top: 24%;
        left: 7.5%;
    }

    .biografia .timeline .acontecimentos:nth-child(2){
        top: 56%;
        left: 12%;
    }

    .biografia .timeline .acontecimentos:nth-child(3){
        top: 23%;
        left: 25.8%;
    }

    .biografia .timeline .acontecimentos:nth-child(4){
        top: 55%;
        left: 29%;
    }

    .biografia .timeline .acontecimentos:nth-child(5){
        top: 24.5%;
        left: 45%;
    }

    .biografia .timeline .acontecimentos:nth-child(6){
        top: 59.5%;
        left: 45%;
    }

    .biografia .timeline .acontecimentos:nth-child(7){
        top: 34%;
        left: 61.5%;
    }

    .biografia .timeline .acontecimentos:nth-child(8){
        top: 66%;
        left: 63%;
    }

    .biografia .timeline .acontecimentos:nth-child(9){
        top: 39.7%;
        left: 80%;
    }

    .biografia .timeline .acontecimentos:nth-child(10){
        top: 70.5%;
        left: 82.5%;
    }
}

@media (max-height: 1000px) {
    .biografia .timeline .acontecimentos:nth-child(1){
        top: 26%;
        left: 7.5%;
    }

    .biografia .timeline .acontecimentos:nth-child(2){
        top: 63%;
        left: 12%;
    }

    .biografia .timeline .acontecimentos:nth-child(3){
        top: 24%;
        left: 25.8%;
    }

    .biografia .timeline .acontecimentos:nth-child(4){
        top: 61.8%;
        left: 29%;
    }

    .biografia .timeline .acontecimentos:nth-child(5){
        top: 26.5%;
        left: 45%;
    }

    .biografia .timeline .acontecimentos:nth-child(6){
        top: 68%;
        left: 45%;
    }

    .biografia .timeline .acontecimentos:nth-child(7){
        top: 37.5%;
        left: 61.5%;
    }

    .biografia .timeline .acontecimentos:nth-child(8){
        top: 75%;
        left: 63%;
    }

    .biografia .timeline .acontecimentos:nth-child(9){
        top: 43%;
        left: 80%;
    }

    .biografia .timeline .acontecimentos:nth-child(10){
        top: 75.35%;
        left: 80.5%;
    }
}


.biografia .timeline .acontecimentos img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.7));
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.biografia .timeline .acontecimentos:hover img {
    opacity: 0%;
}

.biografia .timeline .acontecimentos figcaption {
    text-align: center;
    color: white;
    font-size: 25px;
    filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.7));
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.biografia .timeline .acontecimentos:hover figcaption {
    opacity: 0%;
}

.biografia .timeline .acontecimentos p {
    position: inherit;
    top: -10%;
    left: -50%;
    right: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.85);    
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    
    opacity: 0%;
    transition: opacity 0.5s ease;
}

.biografia .timeline .acontecimentos:hover p {
    opacity: 100%;
}

/* Álbum */

.album .fundo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.album .fundo img {
    min-height: 100vh;
    width: 100%;
}

.album .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media (min-height:1000px){
    .album .painel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 980px;
        height: 644px;
    }
}

@media (max-height:1000px) {
    .album .painel {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -45%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 980px;
        height: 644px;
    }
}

.album .painel .moldura {
    position: relative;
    width: 215px;
    height: auto;
    filter: drop-shadow(0px 20px 15px rgba(0,0,0,0.7));
    transition: ease 0.75s all;
}

.album .painel .moldura:hover {
    transform: scale(2);
    z-index: 2;
}

.album .painel .moldura img {
    width: 100%;
    height: auto;
    display: block;
}

.album .painel .moldura .registro {
    position: absolute;
    top: 44px;
    left: 48px;
    width: 120px;
    height: 103px;
}

.album .painel .moldura .registro img {
    width: 100%;
    height: 100%; 
}

.album .painel .registro figcaption:nth-child(2) {
    font-size: 10px;
    text-align: center;
}

.album .painel .registro figcaption:nth-child(3) {
    font-size: 10px;
    text-align: center;
}

/* Contato */

.contato .fundo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.contato .fundo img {
    min-height: 100vh;
    width: 100%;
}

.contato .titulo {
    font-family: "Vaqueiro", sans-serif;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.contato form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 380px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(112, 86, 37, 0.7);
}

.contato form h1 {
    font-family: "Vaqueiro", sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
}

.contato .formularios {
    width: 100%;
    margin-bottom: 15px;
}

.contato .formularios label {
    display: block;
    margin-bottom: 5px;
    font-weight: bolder;
}

.contato .formularios input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contato button {
    width: 100%;
    padding: 12px;
    background-color: rgba(95, 65, 9, 0.7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
}

.contato button:hover {
    background-color: rgba(177, 133, 51, 0.7)
}